<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/solah.css">
    <title>Solah Time</title>
</head>
<body>
    <div class="nav-container">  
    <nav class="nav" id="nav">
        <div class="head">
            
            <img src="/images/hyperlogo.png" alt="" class="logo">
            <h1 class="name">اوقات الصلاة</h1>
        </div>
        <div class="items-container">
            <a href="" class="nav-item">Home</a>
            <a href="" class="nav-item">About</a>
            <a href="" class="nav-item">Contact</a>
            <a href="" class="nav-item">More</a>
        </div>
    </nav>
    
</div>
    <div class="city-container" id="container">
                <h1><%= city %></h1>
            </div>
            <div class="date-container" id="container">
                <p><%= date %></p>
        </div>
        <div class="time-container" id="container">
            <div class="col">
                <div class="time">
                    <span>Subh</span>
                    <span><%= fajr %></span>
                </div>
                <div class="time">
                    <span>Dhuhr</span>
                    <span><%= dhuhr %></span>
                </div>
            </div>
            <div class="col">
                <div class="time">
                    <span>Asr</span>
                    <span><%= asr %></span>
                </div>
                <div class="time">
                    <span>Maghrib</span>
                    <span><%= maghrib %></span>
                </div>    
                <div class="time isha">
                    <span>Isha</span>
                    <span><%= isha %></span>
                </div>
            </div>

        </div><script src="/index.js"></script>
</body>
</html>